@import "tailwindcss";

@layer base {
  :root {
    --text: #040605;
    --background: #f5faf8;
    --primary: #49b68e;
    --secondary: #86dfc0;
    --accent: #50e2ad;
    --dangerLight: #e15554;
    --dangerDark: #c23b3b;
  }
  .dark {
    --text: #f9fbfa;
    --background: #050a08;
    --primary: #49b68e;
    --secondary: #20795a;
    --accent: #1daf7a;
    --dangerLight: #e15554;
    --dangerDark: #c23b3b;
  }
}


@theme {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-danger-light: var(--dangerLight);
  --color-danger-dark: var(--dangerDark);
}
