@import "tailwindcss";

@layer base {
  :root {
    --text: #040605;
    --background: #f5faf8;
    --primary: #49b68e;
    --secondary: #86dfc0;
    --accent: #50e2ad;
  }
  .dark {
    --text: #f9fbfa;
    --background: #050a08;
    --primary: #49b68e;
    --secondary: #20795a;
    --accent: #1daf7a;
  }
},
